@import "tailwindcss";

:root {
  --primary: #000000;   /* Black */
  --secondary: #ffffff; /* White */
}

body {
  background-color: var(--secondary);
  color: var(--primary);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}